.header {
  height: 45px;
  text-align: center;
  line-height: 40px;
  background-color: #edf4ee;
}

.content {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  line-height: 46px;
  justify-content: space-around;
}

.left {
  display: flex;
  user-select: none;
  gap: 10px;
  cursor: pointer;
}

.content h1 {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Righteous', cursive;
}

.icon {
  position: relative;
  top: 4px;
}

.right {
  color: #0b772c;
  display: flex;
  font-size: 18px;
  gap: 5px;
}

.rightlogined {
  color: #0b772c;
  display: flex;
  font-size: 18px;
  gap: 20px;
}

.rightlogined p {
  font-weight: 500;
  text-decoration: underline;
}

.rightlogined span {
  cursor: pointer;
}

.rightlogined span:hover {
  cursor: pointer;
  color: #05501b;
}

.rightlogined a {
  color: inherit;
  text-decoration: none;
}

.rightlogined a:hover {
  color: #05571e;
}

.right a {
  color: inherit;
  text-decoration: none;
}

.right a:hover {
  color: #05571e;
}
